@model IEnumerable<ProjectManagementSystem.Models.Comment>
@{
    ViewBag.Title = "ViewComments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #levelWidth {
        width: 129px;
        font-size: 11px;
        font-weight: bold;
        color: #dc7e1b;
    }

    #ProductSearch {
        width: 170px;
        font-size: 15px;
        height: 40px;
    }

    #inputMargin {
        margin-left: 137px;
    }

    .table th {
        font-size: 11px;
        color: #08c;
    }
    /*table {
            width: 100%;
            margin: 20px 0;
            border-collapse: collapse;
        }*/

    table tbody td {
        padding: 5px 10px;
        text-align: center;
        font-weight: bold;
        font-size: 11px;
        color: #696c6f;
    }

    table td {
        text-align: center;
    }

    input[type="checkbox"] {
        margin: 0px 3px 0px;
        /*margin-top: 1px \9;
            line-height: normal;*/
    }

    #ColorForCheckboxLebel {
        color: #08c;
        font-weight: bold;
        font-size: 11px;
    }
</style>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Form elements</a><a href="@Url.Action("Signout","Login")" style="color:red">Logout</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span5">
                <div class="widget-box">
                    <div class="widget-title">

                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Add Resource</h5>
                    </div>
                    <div class="widget-content nopadding">
                        @using (Html.BeginForm(new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">

                                @Html.ValidationSummary(true)
                                <fieldset id="ProjectForm">

                                    <div class="control-group">
                                        <label class="control-label">Project</label>
                                        <div class="controls">
                                            <select id="ProjectID" name="ProjectID">
                                                <option value="0">Select Project</option>
                                                @foreach (var a in ViewBag.projectList)
                                                {
                                                    <option value="@a.ProjectID">@a.ProjectName</option>
                                                }

                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Select Task</label>
                                        <div class="controls">
                                            @Html.DropDownList("TaskID", new SelectList(string.Empty, "Value", "Text"), "Select Task", new { @id = "TaskIDForComment" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-control">
                                        <button type="submit" id="saveBtn" class="btn btn-success" style="margin:15px">View</button>
                                    </div>
                                </fieldset>

                            </div>
                        }
                    </div>


                </div>
            </div>

            <div class="span7">
                <div class="widget-box">
                    <div class="widget-title">

                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Project List</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped" id="myTable">

                            <thead>
                                <tr>
                                    <td style="font-size:medium">Comment</td>
                                    <td style="font-size:medium">By</td>
                                    <td style="font-size:medium">Date Time</td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var comment in Model)
                                    {

                                        <tr class="odd gradeX">
                                            <td>


                                                @Html.DisplayFor(modelItem => comment.Description)

                                            </td>
                                            <td>


                                                @Html.DisplayFor(modelItem => comment.CommentBy)

                                            </td>
                                            <td>


                                                @Html.DisplayFor(modelItem => comment.DateTiem)

                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () {

            $("#ProjectID").change(function () {

                var ID = $("#ProjectID").val();
                var select = $("#TaskIDForComment");
                select.empty();
                $.ajax({
                    url: '/Task/GetTaskByProjectID',
                    data: { ProjectID: ID },
                    type: "post",
                    cache: false,
                    success: function (response) {

                        if (response != null) {
                            $.each(response, function (index, itemData) {

                                select.append($('<option/>', {

                                    value: itemData.Value,

                                    text: itemData.Text

                                }));

                            });
                        }
                        else {

                            return false;
                        }
                    },
                });
            });
        });
    </script>
}


